<div>
    <form method="post" action="auth_login">
        <label>
            <input type="text" name="email">
        </label>
        <label>
            <input type="password" name="password">
        </label>
        <button type="submit" >Valider </button>
    </form>
</div>
